# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# SQLite DB
*.db
*.sqlite

# Environment variables
.env

# VSCode
.vscode/

# Byte-compiled files
*.pyo
*.pyd
*.pdb

# Docker
__pycache__/
data/
